{% extends "base.html" %}

{% block content %}
<h1>Список файлов</h1>

<ul>
    {% if files %}
        {% for file in files %}
            <li>
                <strong>{{ file['name'] }}</strong><br>
                {% if 'file' in file %}
                    <a href="{{ file['file'] }}" target="_blank">Скачать</a>
                {% else %}
                    <span>Файл недоступен для скачивания</span>
                {% endif %}
            </li>
        {% endfor %}
    {% else %}
        <p>Нет доступных файлов.</p>
    {% endif %}
</ul>

<a href="{{ url_for('routes.index') }}">Назад на главную</a>
{% endblock %}
